In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [43]:
# Read Files and prepare data frames

price_df = pd.read_csv("../Data Source/export-EtherPrice.csv", header=0)
price_df.rename(index=str, columns={"Value": "Price"},inplace=True)

address_df = pd.read_csv("../Data Source/export-AddressCount.csv", header=0)
address_df.rename(index=str, columns={"Value": "Address"},inplace=True)
address_df.drop(columns=['Date(UTC)'],inplace=True)

supply_df = pd.read_csv("../Data Source/export-Ethersupply2.csv", header=0)
supply_df.rename(index=str, columns={"Value": "Supply"},inplace=True)
supply_df.drop(columns=['Date(UTC)'],inplace=True)

hash_df = pd.read_csv("../Data Source/export-NetworkHash.csv", header=0)
hash_df.rename(index=str, columns={"Value": "Hash"},inplace=True)
hash_df.drop(columns=['Date(UTC)'],inplace=True)

fee_df = pd.read_csv("../Data Source/export-TransactionFee.csv", header=0)
fee_df.rename(index=str, columns={"Value": "Fee"},inplace=True)
fee_df.drop(columns=['Date(UTC)'],inplace=True)

growth_df = pd.read_csv("../Data Source/export-TxGrowth.csv", header=0)
growth_df.rename(index=str, columns={"Value": "Growth"},inplace=True)
growth_df.drop(columns=['Date(UTC)'],inplace=True)

In [46]:
# Merge Data on TimeStamp to create data source

source_df = price_df.merge(address_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(supply_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(hash_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(fee_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df = source_df.merge(growth_df, left_on = 'UnixTimeStamp',right_on='UnixTimeStamp',how='inner')
source_df.head()

   Date(UTC)  UnixTimeStamp  Price  Address        Supply     Hash Fee  Growth
0  7/30/2015     1438214400    0.0     9205  7.204931e+07  11.5297   0    8893
1  7/31/2015     1438300800    0.0     9361  7.208550e+07  51.4594   0       0
2   8/1/2015     1438387200    0.0     9476  7.211320e+07  57.7845   0       0
3   8/2/2015     1438473600    0.0     9563  7.214143e+07  67.9224   0       0
4   8/3/2015     1438560000    0.0     9639  7.216940e+07  74.5737   0       0

In [47]:
source_df.describe()

,UnixTimeStamp,Price,Address,Supply,Hash,Growth
count,1.413000e+03,1413.000000,1.413000e+03,1.413000e+03,1413.000000,1.413000e+03
mean,1.499213e+09,202.815768,1.846760e+07,9.121900e+07,99640.305667,3.330594e+05
std,3.525485e+07,257.308332,2.238519e+07,1.036681e+07,103961.409129,3.188973e+05
min,1.438214e+09,0.000000,9.205000e+03,7.204931e+07,11.529700,0.000000e+00
25%,1.468714e+09,10.710000,4.496270e+05,8.208649e+07,4230.692900,4.081100e+04
50%,1.499213e+09,118.910000,4.060181e+06,9.305860e+07,65978.513700,2.493810e+05
75%,1.529712e+09,296.620000,3.966326e+07,1.002636e+08,180043.865700,5.932030e+05
max,1.560211e+09,1385.020000,6.718279e+07,1.064518e+08,295911.997400,1.349890e+06

In [48]:
source_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1413 entries, 0 to 1412
Data columns (total 8 columns):
Date(UTC)        1413 non-null object
UnixTimeStamp    1413 non-null int64
Price            1413 non-null float64
Address          1413 non-null int64
Supply           1413 non-null float64
Hash             1413 non-null float64
Fee              1413 non-null object
Growth           1413 non-null int64
dtypes: float64(3), int64(3), object(2)
memory usage: 99.4+ KB